* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #ffffff;
    color: #000000;
}

header {
    background-color: #ffffff;
    color: #8c2222;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    width: 130px;
    height: 130px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #8c2222;
    font-weight: bold;
}

.nav-links a:hover {
    color: #3a0f0f;
    text-decoration: underline;
}

.hero-section {
    background-image: url('imagens/banner.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #8c2222;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    margin-top: 50px;
    font-size: 2.6rem;
}

.hero-content p {
    font-size: 1.3rem;
    margin-top: 7px;
    margin-bottom: 20px;
}

.btn {
    background: #8c2222;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #681717;
}

.about-section {
    text-align: center;
    font-size: large;
    padding-bottom: 50px;
}

.about-content {
    height: auto;
    padding: 20px;
}

.about-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.about-section h2 {
    margin-top: 20px;  
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #8c2222;
}

.about-section p {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    border: 2px solid #8c2222;
    padding: 20px;
}

#div1,
#div2,
#div3 {
    padding: 20px;
}

footer {
    color: #ffffff;
    text-align: center;
    background-color: #551414;
    padding: 10px 0;
    height: 200px;
}

footer ul {
    text-align: left;
    margin-left: 3%;
    margin-top: 2%;
}

footer p {
    margin-top: 4%;
}