* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #ffffff;
    color: #000000;
}

header {
    background-color: #ffffff;
    color: #8c2222;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    width: 130px;
    height: 130px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #8c2222;
    font-weight: bold;
}

.nav-links a:hover {
    color: #3a0f0f;
    text-decoration: underline;
}

.hero-section {
    background-image: url('imagens/banner.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #8c2222;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    margin-top: 50px;
    font-size: 2.6rem;
}

.hero-content p {
    font-size: 1.3rem;
    margin-top: 7px;
    margin-bottom: 20px;
}

.btn {
    background: #8c2222;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #681717;
}


.about-section {
    text-align: center;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 35px;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #202020;
}

.about-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.text-div {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.text-div:hover {
    transform: translateY(-7px);
}

.text-div p {
    font-size: 0.95em;
    color: #1a1a1a;
    line-height: 1.5;
}

.text-div {
    width: 100%;
    max-width: 300px;
}

footer {
    color: #ffffff;
    text-align: center;
    background-color: #551414;
    padding: 10px 0;
    height: 200px;
}

footer ul {
    text-align: left;
    margin-left: 3%;
    margin-top: 2%;
}

footer p {
    margin-top: 4%;
}